packages: [
  "busy-signal"
  "goto-definition"
  "intentions"
  "language-javascript-jsx"
  "linter"
  "linter-js-standard"
  "linter-ui-default"
  "package-sync"
  "pigments"
  "react"
  "Remote-FTP"
  "ruby-block"
  "simple-drag-drop-text"
  "tag"
]
