packages: [
  "atom-beautify"
  "better-git-blame"
  "busy-signal"
  "file-icons"
  "goto-definition"
  "intentions"
  "language-babel"
  "language-ejs"
  "language-graphql"
  "language-html-babel"
  "language-terraform"
  "language-vue"
  "linter"
  "linter-eslint"
  "linter-jsonlint"
  "linter-rubocop"
  "linter-scss-lint"
  "linter-ui-default"
  "package-sync"
  "pigments"
  "pinned-tabs"
  "prettier-atom"
  "ruby-block"
  "simple-drag-drop-text"
  "sort-selected-elements"
  "tag"
  "tree-view-search-bar"
]
