packages: [
  "busy-signal"
  "goto-definition"
  "intentions"
  "language-javascript-jsx"
  "language-vue"
  "linter"
  "linter-js-standard"
  "linter-ui-default"
  "package-sync"
  "pigments"
  "react"
  "ruby-block"
  "simple-drag-drop-text"
  "tag"
  "tree-view-search-bar"
]
